.modal__wrapper {
    position: sticky;
    bottom: 10px;
    width: 100%;
    background: rgba(226, 213, 213, 0.2);
    backdrop-filter: blur(10px);
}

.modal__wrapper.open {
    height: 100%;
    display: block;
}

.modal__wrapper.close {
    height: 0;
    display: none;
}

.modal__body {
    max-width: 600px;
    background: white;
    margin: 5% auto auto;
    padding: 20px;
    border-radius: 10px;
    max-height: 100%;
    overflow-y: scroll;
}

.modal__body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.modal__body {
    -ms-overflow-style: none;
}

.modal_close {
    text-align: right;
    margin-top: -15px;
    font-size: 30px;
    cursor: pointer;
}

.modal__body h2 {
    text-align: center;
    width: 100%;
    margin: 0;
}